// scss 函数
@import "./config.scss";

// 定位
@mixin position($w: 100%, $h: 100%,$pos: absolute, $top: 0, $left: 0) {
  position: $pos;
  top: $top;
  left: $left;
  width: $w;
  height: $h;
}

// 弹性盒子
@mixin flex($hov: space-between, $col: center) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}

@mixin font($s, $l, $c) {
  font-size: $s;
  line-height: $l;
  color: $c;
}

// 单行隐藏
@mixin fontHidden() {
  white-space: nowrap; /*先强制一行内显示文本*/
  overflow: hidden; /*超出部分隐藏*/
  text-overflow: ellipsis; /*文字用省略号代替超出部分*/
}

// 多行隐藏
@mixin fontDHidden($line: 2) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 设置遮罩层
@mixin setMask(
  $size-x: 60px,
  $size-y: 60px,
  $x: calc(50% - 10px),
  $y: calc(50% - 10px)
) {
  display: block;
  background: url("/img/icons/play.png") no-repeat;
  background-size: $size-x $size-y;
  background-position-x: $x;
  background-position-y: $y;
  opacity: 0;
}

// 设置加载按钮
@mixin setLoadingMore($w: 100px, $h: 20px, $bgc: $colorA) {
  height: $h;
  width: $w;
  background-color: $bgc;
  padding: 10px 12px;
  text-align: center;
  margin: 10px auto 0px auto;
  border-radius: 12px;
}

// 背景样式
@mixin bgmask() {
  background-size: cover;
  background-position: 50%;
  filter: blur(15px);
  opacity: .6;
  transform: translateZ(0);
}